doctype html
html
  head
    title A flat design
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/foundation.min.css")
    link(rel="stylesheet" href="css/custom.css")
    
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico")
    
  body
    .container.background-orange
      header.row#main
      
        .large-4.column
          .brand: a(href="#") Coloristic
          
        nav#main.large-8.column
          ul
            - list = ["Home", "Services", "Portfolio", "Blog", "About", "Contact"]
            each item in list
              li: a(href="#")= item
            li: a(href="#").button.button-primary Sign up
            
      .row.feature
        .large-5.column: h1 Make things happen.
        .large-7.column: img(src="img/laptop.png" alt="")
        
    .container-spacy.features
      .row
        .large-4.column
          img(src="img/plane.png" alt="")
          h5 Flat Design
          p Lorem ipsum dolor sit amet patisad, adipiscing elit. Nulla non congue sapien, insu tempus odio donec in
          
        .large-4.column
          img(src="img/heart.png" alt="")
          h5 Quality Code
          p Lorem ipsum dolor sit amet patisad, adipiscing elit. Nulla non congue sapien, insu tempus odio donec in

        .large-4.column
          img(src="img/cog.png" alt="")
          h5 Great Support
          p Lorem ipsum dolor sit amet patisad, adipiscing elit. Nulla non congue sapien, insu tempus odio donec in
          
    .container-spacy.background-green.recent
      h2 Recent works
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non congue sapien, in tempus odio.
      
      ul.inline-list
        li.selected: a(href="#") All
        - list = ["Web", "Mobile", "Design", "Photography", "Type"]
        each item in list
          li: a(href="#")= item
        
      .row
        .large-4.column
          .item.background-grey: img(src="img/robot.png" alt="")
          .item.background-yellow: img(src="img/umbrella.png" alt="")
          .item.background-blue: img(src="img/ghost.png" alt="")
          
        .large-4.column
          .item.background-white: img(src="img/pizza.png" alt="")
          .item.background-baby-blue: img(src="img/rocket.png" alt="")
          .item.background-midnight: img(src="img/ff.png" alt="")
          
        .large-4.column
          .item.background-red: img(src="img/eyeball.png" alt="")
          .item.background-pale-blue: img(src="img/jacket.png" alt="")
          .item.background-blue: img(src="img/utility.png" alt="")
          
      a(href="#").show-more.button.buton-secondary Show more     